*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(218, 216, 216);
}
.container
{
    width: 1000px;
    margin: 0 auto;
}
.main-header
{
    margin-top: 5px;
}
.main-header img
{
    width: 50px;
    height: 60px;
    float: left;
}

.main_navigation__items li
{
    display: inline;
    overflow: auto;
}

.main_navigation__items li a 
{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    vertical-align: middle;
}
.main_navigation__items li a:hover
{
    color: #fd8be6;
}

.clearfix
{
    clear: both;
}

.main-navigation
{
    padding: 20px 0;
    margin-left: 200px;
}
.main_navigation__item.color a
{
    color: #fd8be6;
}









